<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <i class="fa fa-angle-left list-button" ng-click="back()" ng-hide="title == 'Main'"></i>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">
        	<span class="page-title-left">Mallorca</span>
        	<span class="page-title-right">+</span>
        </h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <i class="fa fa-list list-button" ng-click="slide()"></i>
    </div>
</div>